<h1> Newsletter maillist (<%= newsletterList.length %> mails)</h1>
<% if (!newsletterList.length) { %>
	<b> Not one mail in the newsletter maillist ! </b>
	<br><br>
	<% } else { %>
	<table>
		<% newsletterList.forEach(function(email) { %>
				<tr>
					<td width=100><%= email.email%></td>
				</tr>
		<% }); %>
	</table>
	<% } %>