<!DOCTYPE html>
<html>
  <head>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-101187455-1', 'auto');
      ga('send', 'pageview');

    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

                <script type="text/javascript">
                function goHome() { 
                  ga('send', 'event', 'SubscribeNewsLetter', '<%= email %>');

                  window.location.href = '/';
                }; 
              </script>
  	<div class="container">
        <div class="row">
            <div class="col-sm-12" role="main">
              <div class="subscribePages">
  	    			  <h4><%= subscribe.successful_subscribe %></h4>
              </div>
              <button type="button" class="btn btn-default subscribePages-btn" onClick="goHome()"><%= subscribe.back %></button>
              <div class="subscribeLogo">
                <img src="/images/koolcapture_logo.png" alt="logo de kool capture" />
              </div>
            </div>
      </div>  
    </div>
  </body>
</html>
