<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

                <script type="text/javascript">
                function goHome() { 
                  window.location.href = '/';
                }; 
              </script>
  	<div class="container">
        <div class="row">
            <div class="col-sm-12" role="main">
              <div class="subscribePages">
  	    			  <h4><%= subscribe.unsuccesful_subscribe %></h4>
              </div>
              <button type="button" class="btn btn-default subscribePages-btn"  onClick="goHome()"><%= subscribe.back %></button>
              <div class="subscribeLogo">
                <img src="/images/koolcapture_logo.png" alt="logo de kool capture" />
              </div>
            </div>  
      </div>  
    </div>
  </body>
</html>
