<div role="navigation" class="navbar navbar-inverse navbar-fixed-top fond-navbar">
	<div class="container menu-">
		<div class="navbar-header">
			<button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
				<span class="icon-bar"></span>
			</button>
			<a href="/" class="navbar-brand"></a>
		</div>
		<div class="collapse navbar-collapse">
		  	<ul class="nav navbar-nav text-menu">
				<% for(var i=0; i<menuText.titles.length; i++) { %>
				    <li <% if (rubName === menuText.links[i]) { %> class="active" <% } %>>
					    <a href='/<%= menuText.links[i] %>'>
					        <%= menuText.titles[i] %>
					    </a>
					</li>
				<% } %>
	        </ul>

			  <div class="dropdown navbar-right">
			        <button type="button" class="btn-settings  textParam dropdown-toggle btn-lg"  data-target="#myModal" data-toggle="modal" aria-haspopup="true" aria-expanded="false">
			          <span class="glyphicon glyphicon-cog"></span>
			          <span class="caret"></span>
			        </button>
				    <!-- Modal -->
				    <div class="modal fade" id="myModal" role="dialog">
				      <div class="modal-dialog">
				    
				      <!-- Modal content-->
				      <div class="modal-content">
				        <div class="modal-header">
				          <button type="button" class="close" data-dismiss="modal">&times;</button>
				          <h4 class="modal-title"><%= menuText.prefs.title %></h4>
				        </div>
				        <div class="modal-body">
				          <p><%= menuText.prefs.lang.title %></p>
							<form name="prefs">
								<% for(var i=0; i<menuText.prefs.lang.choice.length; i++) { %>
									<div class="radio-inline" >
									  <label><input type="radio" id="lang_"<%= i %> name="language" value=<%= menuText.prefs.lang.choiceCode[i] %> <% if (lang === menuText.prefs.lang.choiceCode[i]) { %> checked="checked" <% } %>  onChange="changeLanguage(this);" ><%= menuText.prefs.lang.choice[i] %></label>
									</div>
								<% } %>
							</form>
				        </div>
				        <div class="modal-footer">
				          <button type="button" class="btn btn-default" data-dismiss="modal"><%= menuText.prefs.close %></button>
				        </div>
				      </div>
				      
				     </div>
				  </div>
			  </div>
	    </div>
    </div>
</div>