<div class="container navbar-fixed-top lessTopZ" id="rectBlanc">
    <br>
    <ul class="nav nav-tabs fixedTab subMenu">
		<% for(var i=0; i<subMenu.length; i++) { %>
			<li <% if (pageName === '/'+subMenuLink[i]) { %> class="active" <% } %>>
				<a href='/<%= subMenuLink[i] %>' class="subMenuItem" >
					<%= subMenu[i] %>
				</a>
			</li>
		<% } %>
	</ul>
</div>