<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include ./partials/headBase %>
    <link rel='stylesheet' href='/stylesheets/acc.css' />
    <link rel='stylesheet' href='/stylesheets/faq.css' />
    <meta name="description" content="<%= description %>">
  </head>
  <body>

  	<div class="container center_div">
  		<% include ./partials/header %>
        <div class="row">
            <div class="col-sm-12" role="main">
  	    			<h1 id="diy" class="titles-rub"><%= content.text %></h1>
              <% for(var j=0; j<faq.length; j++) { %>
    		    			<button class="accordion"><%=  faq[j].question %></button>
                  <div class="panel">
                    <% for(var n=0; n<faq[j].answer.length; n++) { %>
                      <%=  faq[j].answer[n] %>
                      <% if(n<faq[j].answer.length-1) { %>
                        <br/>
                      <% } %>
                    <% } %>
                  </div>
              <% } %>
  	    			
              <script type="text/javascript">
              var acc = document.getElementsByClassName("accordion");
              var i;
              console.log("acc",acc)
              for (i = 0; i < acc.length; i++) {
                  acc[i].onclick = function(){
                      /* Toggle between adding and removing the "active" class,
                      to highlight the button that controls the panel */
                      this.classList.toggle("active");

                      /* Toggle between hiding and showing the active panel */
                      var panel = this.nextElementSibling;
                      if (panel.style.display === "block") {
                          panel.style.display = "none";
                      } else {
                          panel.style.display = "block";
                      }
                  }
              }
              </script>
            </div>  
      </div>  
	    <% include ./partials/footer %>
    </div>
  </body>
</html>
