<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include ./partials/headBase %>
    <link rel='stylesheet' href='/stylesheets/hof.css' />
    <meta name="description" content="<%= description %>">
  </head>
  <body>

  	<div class="container center_div">
  		<% include ./partials/header %>
	    <h1 class="titles-rub"><%= content.title %></h1>
      <p><%= content.text %><a href="mailto:<%= content.email %>?Subject=Contact Kool Capture" target="_top"><%= content.email %></a></p>
      <div class="row">
        <div class="col-sm-12" role="main">
          <div class="col-sm-12 partHOF1"></div>

          <% for(var i=0; i<ateliersMovies.movies.length; i++) { %>
              <div class="col-sm-12 glossary partHOF">
                <div class="box2">
                  <iframe src="https://player.vimeo.com/video/<%= ateliersMovies.movies[i].movieNum %>?title=0&byline=0&portrait=0" width="320" height="180" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
                <div class="textVideo box2">
                  <div><p><b><%= ateliersMovies.data.title %></b></p></div>
                  <p><%= ateliersMovies.movies[i].title %></p>
                  <div><p><b><%= ateliersMovies.data.date %></b></p></div>
                  <p><%= ateliersMovies.movies[i].date %></p>
                  <div><p><b><%= ateliersMovies.data.institution %></b></p></div>
                  <p><%= ateliersMovies.movies[i].institution %></p>
                  <div><p><b><%= ateliersMovies.data.author %></b></p></div>
                  <p><%= ateliersMovies.movies[i].author %></p>
                  <div><p><b><%= ateliersMovies.data.synopsis %></b></p></div>
                  <p><%= ateliersMovies.movies[i].synopsis %></p>
                </div>
              </div>
          <% } %>
	    	</div>
      </div>
	    <% include ./partials/footer %>
    </div>
  </body>
</html>
