<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include ./partials/headBase %>
	<meta name="description" content="<%= description %>">
  </head>
  <body>
  	<div class="center_div">
  		<%- include ./partials/header %>
	    			<div>
	    			<div id="content" class="row">
		    			<div class="col-lg-12 indexContent">
			    			<div ><h5 class="title"><%= content.text1 %>
			    			</h5></div>
			    			
							<br>
							<%= content.text2 %><br>
							<p><%= content.text3 %></p><br>
							<p style="color:#ef4136;"><%= content.text_HighSierra %></p>
			    			<script type="text/javascript">
								function downloadMAC() { 
									ga('send', 'event', 'Download', 'MAC');
									window.location.href = '/download/mac/KoolCapture';
								}; 
								function downloadPC() { 
									ga('send', 'event', 'Download', 'PC');
									window.location.href = '/download/pc/KoolCaptureInstall';
								}; 
							</script>
			    			<div class="around-downloadPanel">
			    				<div class="downloadPanel box3">
					    			<div class="downloadText downloadTitle ">
					    				<%= panelDownload.titlePanelDownload %> 
					    			</div>
					    			<a class="btn btn-default" role="button" onclick="downloadMAC()" ><%= panelDownload.titleMac %></a>
					    			<a class="btn btn-default" role="button" onclick="downloadPC()" ><%= panelDownload.titlePc %></a>
					    			<div class="downloadText">
					    				<%= panelDownload.versionNum %><br>
					    			</div>
					    		</div>
					    	</div>
							<p><%= content.text3_0 %></p>
							<p><%= content.text3_2 %></p>
							<p><%= content.text3_1 %></p>
							<p><%= content.text4 %><a href='/<%= menuText.links[3] %>'> <%= content.knowMore %></a></p><br>
							<h5 class="title"><%= content.text6_1 %></h5>
							<p><%= content.text6_2 %><a href='/<%= menuText.links[0] %>'> <%= content.knowMore %></a></p>
							<h5 class="title"><%= content.text7_1 %></h5>
							<p><%= content.text7_2 %><a href='/<%= menuText.links[1] %>'> <%= content.knowMore %></a></p>
							<h5 class="title"><%= content.text8_1 %></h5>
							<p><%= content.text8_2 %><a href='/<%= menuText.links[2] %>'> <%= content.knowMore %></a></p>
							<h5 class="title"><%= content.text9_1 %></h5>
							<p><%= content.text9_2 %><a href='/<%= menuText.links[3] %>'> <%= content.knowMore %></a></p>
							<h5 class="title"><%= content.text10_1 %></h5>
							<p><%= content.text10_2 %><a href='/<%= menuText.links[4] %>'> <%= content.knowMore %></a></p>
							<h5 class="title"><%= content.text11_1 %></h5>
							<p><%= content.text11_2 %><a href='/<%= menuText.links[5] %>'> <%= content.knowMore %></a></p>
							<br>
							<p><%= content.text9 %></p> 
							<p><%= content.text10 %><a href="mailto:<%= content.email %>?Subject=Contact Kool Capture" target="_top"><%= content.email %></a> </p>
							<p><b><%= content.text11 %></b></p>
						</div>
					</div>
	    			<div id="rightPanel">
	    				<div class="insideRightPanel subscribe">
	    					<p><%= subscribe.subscribe_title %></p>
	    					<form id="newsletterForm" action="/subscribe" method="post">
	    						<input id="emailField" type="email" name="email" placeholder="<%= subscribe.subscribe_to %>" oninput="testEmail(this);">
	    						<input id="submitMail" type="submit" name="submit" class="btn btn-default invalidEmail" value="<%= subscribe.submit%>">
	    					</form>
	    				</div>
		    			<div class="insideRightPanel">
				    			<div class="videoExample">
				    					<div class="titleFilm"><b><%= movieOfTheMonth %></b></div>
					    			<div class="videoIndex box3">
						    			<iframe src="<%= movie.link %>?title=0&byline=0&portrait=0" width="320" height="180" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
									</div>
					                <div class="box3 infoFilm">
					                  <div class="titresInfoFilm ecartTitle"><p><%= movie._title_ %></p></div>
					                  <p><%= movie.title %></p>
					                  <div class="titresInfoFilm ecartTitle"><p><%= movie._director_ %></p></div>
					                  <p><%= movie.director %></p>
					                  <div class="titresInfoFilm ecartTitle"><p><%= movie._date_ %></p></div>
					                  <p><%= movie.date %></p>
					                </div>
								</div>
							</div>
						</div>
					</div>

	    		<div>	
	    <% include ./partials/footer %>
	    </div>
    </div>
  </body>
</html>
