<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css">
    <script src="/js_vendor/jquery-1.11.2.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <% include ./partials/headBase %>
    <link rel='stylesheet' href='/stylesheets/learn.css' />
	<meta name="description" content="<%= description %>">
  </head>
  <body data-spy="scroll" data-target="#sidebar" data-offset="120">
  	<% include ./partials/header %>
  	<% include ./partials/subMenu %>
  	<div class="container center_div">
        <div class="row">
		    <div class="col-sm-10" role="main">
		        <h1 id="diy" class="text-titles"><%= titleLearn %></h1>
				<div class="text-learn">
					<% for(var i=0; i<introLearn.length; i++) { %>
						<p><%= introLearn[i] %></p>
					<% } %>
			    </div>
			    <div>
					<% for(var i=0; i<stepByStep.length; i++) { %>
						<h2 id="step-by-step<%= i+1 %>" class="text-titles"><span class="learn-title"><%= stepByStep[i].titleNum %></span><%= stepByStep[i].title %></h2>
						<div class="row">
						    <div class="text-interface-login col-xs-12 col-md-7">
						         <div class="learn-image">
						            <img src="images/learn/<%= stepByStep[i].image %>" class="img-responsive">
						         </div>
						         <div class="insert-learn">
						            <div class="row">
						                <div class="insert-learn-text col-xs-12 col-md-8 ">
							                <h4 class="j-kool-question"><%= jKoolSays %></h4>
							                <%= stepByStep[i].question %>
						                </div>
						                <div class="insert-learn-image col-xs-12 col-md-4 ">
						                    <img src="images/learn/jkool.jpg" class="center-block">
						                </div>
						            </div>
						        </div>
						    </div>
						    <div class="col-xs-12 col-md-5 text-learn">
								<% for(var j=0; j<stepByStep[i].content.length; j++) { %>
									<p><%= stepByStep[i].content[j] %></p>
								<% } %>
								<p></p>
							</div>
						</div>
						<div></div>
						<hr style="border-bottom: dashed 1px #c0c1c2">
					<% } %>
			    </div>
			</div>
		    <div class="col-sm-2 text-menu " role="complementary">
		        <nav id="sidebar" role="navigation" class="collapse navbar-collapse  affix">
		            <ul class="nav nav-pills nav-stacked">
		                <li class="">
		                    <a href="#diy"><%= titleLearn %></a>
		                    <ul class="nav-pills  nav-stacked">
								<% for(var i=0; i<titleStep.length; i++) { %>
		                            <li class="list-unstyled"><a href="#step-by-step<%= i+1 %>"><%= titleStep[i] %></a></li>
								<% } %>
		                    </ul>
		                </li>
		            </ul>
		        </nav>
		    </div>
	    </div>		
	    <% include ./partials/footer %>
    </div>
    <script type="text/javascript">
            $(document).ready(function(){
                $('[data-toggle="tooltip"]').tooltip({
                    trigger: 'hover',
                    placement : 'top',
                    template: '<div class="tooltip" role="tooltip"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div>'
                });
                $('[data-toggle="popover"]').popover({
                trigger: 'hover',
                placement: 'auto'
                });
            });
        </script>
  </body>
</html>
