<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include ./partials/headBase %>
    <link rel='stylesheet' href='/stylesheets/partners.css' />
    <meta name="description" content="<%= description %>">
  </head>
  <body>

  	<div class="container center_div">
  		<% include ./partials/header %>
        <div class="row">
            <div class="col-sm-12" role="main">
  	    			<h1 id="diy" class="titles-rub"><%= content.text %></h1>
              <div class="content">
                <% for(var j=0; j<partners.length; j++) { %>
                  <div class="box">
                  <div>
                    <img src='<%= partners[j].logo %>' class='heightSet middle'>
                  </div>
                  <div class="textAlign">
                    <%=  partners[j].name %>
                  </div>
                  </br>
                  </div>
                <% } %>
              </div>
            </div>  
      </div>  
	    <% include ./partials/footer %>
    </div>
  </body>
</html>
