<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include ./partials/headBase %>
    <link rel='stylesheet' href='/stylesheets/learn.css' />
	<meta name="description" content="<%= description %>">
  </head>
  <body>
  	<% include ./partials/header %>
   	<% include ./partials/subMenu %>
  	<div class="container center_div">
        <div class="row">
		    <div class="col-sm-10" role="main">
		        <h1 id="diy" class="text-titles"><%= titlePrinciples %></h1>
				<div class="glossary-intro-text">
					<% for(var i=0; i<introPrinciples.length; i++) { %>
						<p><%= introPrinciples[i] %></p>
					<% } %>
			    </div>
				<hr style="border-bottom: dashed 1px #c0c1c2">
			    <div class="col-sm-9 glossary">
					<% for(var i=0; i<content.length; i++) { %>
						<h4><%= content[i].title %></h4>
						<div class="content">
							<%= content[i].content %>
						</div>
						<hr style="border-bottom: dashed 1px #c0c1c2">
					<% } %>
			    </div>
			</div>
	    </div>		
	    <% include ./partials/footer %>
    </div>
  </body>
</html>
