<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include ./partials/headBase %>
    <link rel='stylesheet' href='/stylesheets/tuto.css' />
    <meta name="description" content="<%= description %>">
  </head>
  <body>

  	<div class="container center_div">
      <% include ./partials/header %>

        <div class="row">
            <div class="col-sm-12" role="main">
                <h1 id="diy" class="titles-rub"><%= tutoKC.title %></h1>
                <p><%= tutoKC.intro_0 %></p>
                <p><%= tutoKC.intro_1_1 %><a target="_blank" href=<%= tutoKC.introLinkMAC_1 %>><%= tutoKC.intro_1_2 %></a>.</p>
                <p><%= tutoKC.intro_2_1 %><a target="_blank" href=<%= tutoKC.introLinkPC %>><%= tutoKC.intro_2_2 %></a>.</p>
              <% for(var i=0; i<tutoKC.parts.length; i++) { %>
                <div class="col-sm-12 glossary partTuto">
                  <h2><%= tutoKC.parts[i].titlePart %></h2>
                  <div id="intro" class="intro">
                    <% for(var j=0; j<tutoKC.parts[i].intro.length; j++) { %>
                      <div class="box2">
                      <% var isImage = (tutoKC.parts[i].intro[j].split('/')[0] === "images") %>
                      <% if(isImage){ %>
                        <div>
                            <img src='<%= tutoKC.parts[i].intro[j] %>' class='iconDetails'>
                        </div> 
                      <% }else{ %>
                        <p><%= tutoKC.parts[i].intro[j] %></p>
                      <% } %>
                    </div>
                    <% } %>
                  </div>
                    <% if(tutoKC.parts[i].part.length>0){ %>
                    <div id="part" class="col-sm-12">
                      <% for(var j=0; j<tutoKC.parts[i].part.length; j++) { %>
                        <% for(var n=0; n<tutoKC.parts[i].part[j].length; n++) { %>
                          <div>
                          <% for(var m=0; m<tutoKC.parts[i].part[j][n].length; m++) { %>
                            <div class="box2">
                            <% var isImage = (tutoKC.parts[i].part[j][n][m].split('/')[0] === "images") %>
                            <% if(isImage){ %>
                                  <% if((n==0) && (m==0)){ %>
                                     <h3><%= j+1 %>)</h3>
                                  <% }%>
                                  <div>
                                    <img src='<%= tutoKC.parts[i].part[j][n][m] %>' class='iconDetails'>
                                  </div> 
                            <% }else{ %>
                              <% if((n==0) && (m==0)){ %>
                                <% if((i==1) ||(i==2)){ %>
                                 <h3><%= j+1 %>) <%= tutoKC.parts[i].part[j][n][m] %></h3>
                                <% }else{ %>
                                 <h3><%= j+1 %>)</h3><%= tutoKC.parts[i].part[j][n][m] %>
                                 <% } %>
                              <% }else{ %>
                                  <p class=""><%= tutoKC.parts[i].part[j][n][m] %></p>
                              <% } %>
                            <% } %>
                            </div>
                          <% } %>
                          </div>
                            <br>
                        <% } %>
                      <% } %>
                    </div>
                <% } %>
              </div>
            <% } %>
        </div>
      </div>  
      <% include ./partials/footer %>
    </div>
  </body>
</html>
