<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include ./partials/headBase %>
    <link rel='stylesheet' href='/stylesheets/versions.css' />
    <meta name="description" content="<%= description %>">
  </head>
  <body>

  	<div class="container center_div">
      <% include ./partials/header %>
      <h1 class="titles-rub"><%= content.title %></h1>
      <p><%= content.description %></p>
        <div class="row">
            <div class="col-sm-12 glossary partTuto">
              <h3><%= content.v101.titleVersion %></h3>
              <h4><%= content.v101.title %></h4>
              <div id="intro" class="intro">
                <% for(var j=0; j<content.v101.content.length; j++) { %>
                    <p><%= content.v101.content[j] %></p>
                <% } %>
              </div>
            </div>
            <div class="col-sm-12 glossary partTuto">
              <h3><%= content.v100.titleVersion %></h3>
              <h4><%= content.v100.title %></h4>
              <div id="intro" class="intro">
                <% for(var j=0; j<content.v100.content.length; j++) { %>
                    <p><%= content.v100.content[j] %></p>
                <% } %>
              </div>
            </div>
            <div class="col-sm-12 glossary partTuto">
              <h3><%= content.v083.titleVersion %></h3>
              <h4><%= content.v083.title %></h4>
              <div id="intro" class="intro">
                <% for(var j=0; j<content.v083.content.length; j++) { %>
                    <p><%= content.v083.content[j] %></p>
                <% } %>
              </div>
            </div>
            <div class="col-sm-12 glossary partTuto">
              <h3><%= content.v080.titleVersion %></h3>
              <h4><%= content.v080.title %></h4>
              <div id="intro" class="intro">
                <% for(var j=0; j<content.v080.content.length; j++) { %>
                    <p><%= content.v080.content[j] %></p>
                <% } %>
              </div>
            </div>
        </div>  
        <% include ./partials/footer %>
    </div>
  </body>
</html>
