body {
    position:relative;
}

.navbar-inverse .navbar-brand {
    color: #FFF
}

h1, h2{
	padding-top: 60px;
}

.lessTopZ{
  z-index:1019;
}

.nav-tabs>li.active>a{
    border: 1px solid #0;
    border-bottom-color: transparent;
}

.subMenu{
  border-bottom: solid 1px #0;
  left:120px;
}

.fixedTab{
	padding-top: -20px;
    background-color: #fff;
}
#sidebar{
  z-index:1029;
    background-color: #fff;
}
#rectBlanc{
  margin: 0 auto;
  position: fixed;
  width:90%;
  height:70px;
  top: 51px;
  background: #fff;
}

.center_div{
    margin: 0 auto;
    padding-top:70px;
    width:80%:; /* value of your choice which suits your alignment */
}

@media (max-width: 515px) {
  .center_div{
    padding-top:90px;
  }
}
.scrollspy-example{}
/*.scrollspy-example{position:relative;height:200px;margin-top:10px;overflow:auto}*/

.bs-example{
	position:relative;
	padding:45px 15px 15px;
	margin:0 -15px 15px;
	border-color:#e5e5e5 #eee #eee;
	border-style:solid;
	border-width:1px 0;
	-webkit-box-shadow:inset 0 3px 6px rgba(0,0,0,.05);
	box-shadow:inset 0 3px 6px rgba(0,0,0,.05)
}