.heightSet{
    max-height: 80px;
}
.content{
  margin-top:50px;
}
.box{
  display:block;
  float:left;
  margin-right:20px;
}
.textAlign{
    text-align: center;
}
.middle{
    margin-left: auto;
    margin-right: auto;
    display:block;
}
.center_div{
    margin: 0 auto;
    padding-top:70px;
    width:80%:; /* value of your choice which suits your alignment */
}

@media (max-width: 515px) {
  .center_div{
    padding-top:40px;
  }
}