.navbar-inverse .navbar-brand {
    color: #FFF;
    background-image: url("../images/iconeKOOLCAPTURE_50x87.png");
    background-repeat: no-repeat;
    width:83px;
    background-color: #ef4136;
}
.param {
    background-image: url("../images/param.png");
    background-repeat: no-repeat;
    width:50px;
    height:50px;
}
.dotted{
  border-top: dashed 1px #c0c1c2;
  border-right: dashed 1px #c0c1c2;
  border-bottom: dashed 1px #c0c1c2;
  border-left: dashed 1px #c0c1c2;
}
.centText {
  text-align: center;
}
.infoFilm {
  max-width: 250px;
}
.box3 {
  vertical-align:top;
  display: inline-block;
  margin: 2px;
}
.logoKC {
  width:260px;
  height:42px;
  margin-left: -5px;
}
/*a {
    color: #ef4136;
    text-decoration: none;
}*/
.indexContent{
  padding-top: 20px;
}
.subMenuItem{
    color: #000000;
}
.j-kool-question{
    font-family: 'Open Sans', cursive;
    font-size:14;
}

.nav-pills>li.active>a{
  text-decoration: none;
  color: #000;
  background-color: #fff;
  border-radius: 0px;
  padding-left: 2px;
  border-left: 2px solid #ef4136; 
}

.nav-pills>li>a{
  text-decoration: none;
  color: #000;
}

.learn-title{
    color: #ef4136;
}

.center_div{
    margin: 0 auto;
    width:80% ; /* value of your choice which suits your alignment */
}

.custom_form{
    margin: 0 auto;
    padding: 10px;
  max-width:900px;
  /*border: solid 1px #fefefe;
  border-radius: 3px;*/
  /*box-shadow: 2px 2px 5px #888888;*/
    background-color:#f2f2f2;
}

.text-titles-login{
    font-family: 'Patrick Hand', cursive;
    font-size:14;
}

.text-titles-question{
    font-family: 'Open Sans', cursive;
    font-weight: bold;
    font-size: 14px;
}

.text-titles{
    font-family: 'Patrick Hand', cursive;
    font-weight: bold;
    font-size: 38px;
}
.modal-backdrop {
    z-index: 1020;
}
.text-user{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
}
.textParam{
  padding:10px 0px 0px;
  color:#9d9d9d;
  font-size: 24px;
}
.btn-settings{
  border-color:rgba(255, 255, 255, 0);
  background-color:rgba(255, 255, 255, 0);
}
.btn-settings:hover, .btn-settings:focus, .btn-settings:active{
  color:#fff;
  border-color:rgba(255, 255, 255, 0);
}
.text-menu{
    font-family: 'Patrick Hand', cursive;
    font-size: 18px;
}

.text-learn{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 12px;
}

.insert-learn{
    padding: 15px;
    background-color:#575757;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    color:#FFFFFF;
}

.insert-learn-text{
    padding-top: 5px; 
    padding-left:20px;
}

.insert-learn-image{

}
.videoExample {
    padding-left:0px;
}
.downloadPanel{
    padding-left:50px;
}
.downloadText{
    padding-left:35px;
}
