.navbar-inverse .navbar-brand {
    color: #FFF;
    background-image: url("/images/kool-icon.png");
    background-repeat: no-repeat;
    width:53px;
    height:50px;
    background-color: #ef4136;
    margin-left:  20px;
}

.fond-navbar{
    background-color: #3C3C3C;
}
@media (max-width: 991px) {
  /*.navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }*/
}
@media (min-width: 768px) and (max-width: 991px) {
   /*.collapse {
       display: none !important;
   }*/
  .navbar-collapse.collapse {
       margin-right: -15px;
     }
     .navbar-nav{
       margin-right: -14px;
     }
     .menu- {
       padding-right:0px;
     }
}
.title {
  font-family: 'Titillium Web', sans-serif;
  font-size: 25px;
  padding-top: 12px;
}

a{
  color:#ef4136;
  text-decoration: none;
  font-family: 'Titillium Web', sans-serif;
  
}
body{
    background-color: #fff;
}
div#rightPanel {
  width:50%;
  display: inline-block;
  margin-top: 80px;
}
.subscribe{
  margin-bottom: 30px;
}
.subscribePages{
  margin-top: 40px;
  text-align: center;
}
.subscribePages-btn{
    margin:0 auto;
    margin-top: 40px;
    display:block;
}
.subscribeLogo{
    padding-top: 20px;
    text-align: center;
}
input[type=email] {
  width:70%;
  border-radius: 5px;
  margin-right: 5px;
}
.validEmail{
  display:inline-block;
}
.invalidEmail{
  display:none;
}
.insideRightPanel{
  width:350px;
    margin-left: auto;
    margin-right: auto;
    display:block;
}
div#content {
  font-size: 1.5rem;
  float:left;
  width:500px;
  background-color: #FFFFFF;
  /*border: outset 2px #6A6A6A;*/
}
.footer{
  clear: both;
}
.param {
    background-image: url("/images/param.png");
    background-repeat: no-repeat;
    width:50px;
    height:50px;
}
.dotted{
  border-top: dashed 1px #c0c1c2;
  border-right: dashed 1px #c0c1c2;
  border-bottom: dashed 1px #c0c1c2;
  border-left: dashed 1px #c0c1c2;
}
.centText {
  text-align: center;
}
.titleFilm{
  padding-top: 4px;
  padding-left: 12px;
  height:30px;
  max-width:320px;
  background-color: #ef4136;
  /*background-color: #5AAFAD;*/
  font-family: 'Titillium Web', sans-serif;
  font-size:17px;
  color:#fff;
  border-radius: 5px 5px 0px 0px;
}

.infoFilm {
  width: 320px;
  border-color: #3C3C3C;
  border-bottom-style: dashed;
  border-width: 1px;
  padding: 10px 10px 0px 10px;
  font-size:15px;
}

.ecartTitle{
  padding-top: 10px;
  padding-bottom: 5px;
  color: #3C3C3C;
}

.titresInfoFilm{
  font-family: 'Titillium Web', sans-serif;
  font-size:18px;
  line-height: 0.2;
}

.box3 {
  vertical-align:top;
  display: inline-block;
}
.videoIndex{
  max-width:320px;
  height:180px;
}
.logoKC {
  /*width:260px;
  height:42px;*/
  margin-top: 9px;
  margin-left: 50px;
}
.welcome{
  font-size: 1.9rem;
}
.indexContent{
  padding-top: 60px;
}
.subMenuItem{
    /*font-family: 'Patrick Hand', cursive;*/
    font-family: 'Titillium Web', sans-serif;
    font-size:18px;
    color: #000000;
}
.j-kool-question{
    font-family: 'Open Sans', cursive;
    font-size:14;
}

.nav-pills>li.active>a{
  text-decoration: none;
  color: #000;
  background-color: #fff;
  border-radius: 0px;
  padding-left: 2px;
  border-left: 2px solid #ef4136; 
}

.nav-pills>li>a{
  text-decoration: none;
  color: #000;
}

.learn-title{
    color: #ef4136;
}

.center_div{
    /*margin: 0 auto;*/
    margin-left:100px;
    width:90% ; /* value of your choice which suits your alignment */
}

.custom_form{
    margin: 0 auto;
    padding: 10px;
  max-width:900px;
  /*border: solid 1px #fefefe;
  border-radius: 3px;*/
  /*box-shadow: 2px 2px 5px #888888;*/
    background-color:#f2f2f2;
}

.text-titles-login{
    font-family: 'Titillium Web', sans-serif;
    font-size:14px;
}

.text-titles-question{
    font-family: 'Open Sans', cursive;
    font-weight: bold;
    font-size: 14px;
}
.titles-rub{
    /*font-family: 'Open Sans', cursive;*/
    font-family: 'Titillium Web', sans-serif;
    font-size: 38px;
}
.text-titles{
    font-family: 'Titillium Web', sans-serif;
    font-size: 38px;
}
.modal-backdrop {
    z-index: 1023;
}
.text-user{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
}
.textParam{
  padding:10px 0px 0px;
  color:#9d9d9d;
  font-size: 24px;
}
.btn-settings{
  border-color:rgba(255, 255, 255, 0);
  background-color:rgba(255, 255, 255, 0);
}
.btn-settings:hover, .btn-settings:focus, .btn-settings:active{
  color:#fff;
  border-color:rgba(255, 255, 255, 0);
}
.text-menu{
    font-family: 'Titillium Web', sans-serif;
    /*font-family: 'Patrick Hand', cursive;*/
    font-size: 18px;
}


.welcome{
  margin-top: 100px;

}

.text-learn{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.insert-learn{
    padding: 15px;
    background-color:#575757;
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    color:#FFFFFF;
}

.insert-learn-text{
    padding-top: 5px; 
    padding-left:20px;
}

.insert-learn-image{
    padding: 5px;
}
.videoExample {
    padding-left:0px;
}
.downloadPanel{
  background-color: #FFF;
  margin-left : 25%;
}
.around-downloadPanel{
  padding-top:5px;
  padding-bottom:10px;
}
/*@media (max-width: 1044px) {
  .downloadPanel{
  position: absolute;
  top:50px;
  left: 550px;
  }
  div#rightPanel {
    width: 50%;
    display: inline-block;
    margin-top: 20px;
  }
}*/
.downloadText{
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
}
.downloadTitle{
  font-family: 'Titillium Web', sans-serif;
  font-size: 25px;
}
@media (max-width: 790px) {
  /*.downloadPanel{
    display: inline-block;
  position: absolute;
  top:35px;
  left: 30px;
  width:100%;
  margin-left:0px;
  padding-left:20px;
  }
  .downloadText{
    text-align: left;
    padding-left: 65px;
  }
  .downloadTitle{
    text-align: left;
    padding-left: 45px;
  }
  .indexContent {
    text-align: left;
    padding-top: 140px;
  }*/
  div#content {
    width:100%;
  }
  .center_div{
    margin-left: 30px;
  }

}
@media (max-width: 640px) {
  * {
    box-sizing: border-box;
  }
  
  /* passer body (et tous les éléments de largeur fixe) en largeur automatique */

  body {
    width: auto;
    margin: 0;
    padding: 0;
  }
  
  /* fixer une largeur maximale de 100% aux éléments potentiellement problématiques */

  img,
  table,
  td,
  blockquote,
  code,
  pre,
  textarea,
  input,
  iframe,
  object,
  embed,
  video {
    max-width: 100%;
  }
  
  /* conserver le ratio des images */

  img {
    height: auto;
  }
  
  /* gestion des mots longs */

  textarea,
  table,
  td,
  th,
  code,
  pre,
  samp {
    -webkit-hyphens: auto; /* césure propre */
    -moz-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word; /* passage à la ligne forcé */
  }
  
  code,
  pre,
  samp {
    white-space: pre-wrap; /* passage à la ligne spécifique pour les éléments à châsse fixe */
  }
  
  /* Passer à une seule colonne (à appliquer aux éléments multi-colonnes) */

  .element1,
  .element2 {
    float: none;
    width: auto;
  }
  
  /* masquer les éléments superflus */

  .hide_mobile {
    display: none !important;
  }
  
}
@media (max-device-width:768px) and (orientation: landscape) {
  html {
   -webkit-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
  }
}