
h1, h2, h3{
  font-family: 'Titillium Web', sans-serif;
  padding-top: 0px;
}
.iconDetails {
  /*display:block;*/
  /*margin-left:5px;*/
  /*float:left;*/
} 
.partTuto {
  padding-bottom: 15px;
  border-bottom: dashed 1px #c0c1c2;
}
.box2 {
  display: inline-block;
  margin: 2px;
}

.center_div{
    margin: 0 auto;
    padding-top:70px;
    /*width:80%:; /* value of your choice which suits your alignment */
}

@media (max-width: 515px) {
  .center_div{
    padding-top:40px;
  }
}