<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/headBase %>
    <link rel='stylesheet' href='/stylesheets/learn.css' />
    <link rel='stylesheet' href='/stylesheets/tuto.css' />
    <meta name="description" content="Modifications de la version v1.0.0 de Kool Capture">
  </head>
  <body>

  	<div class="container ">
        <div class="row">
            <div class="col-sm-12 glossary partTuto">
            <br>
              <h4><%= content.v100.title %></h4>
              <div id="intro" class="intro">
                <% for(var j=0; j<content.v100.content.length; j++) { %>
                    <p><%= content.v100.content[j] %></p>
                <% } %>
              </div>
            </div>
        </div>  
        <div class="footer">
          <hr style="margin: 30px 0 10px 0;">
          <p>©&nbsp;La Ménagerie</a> &amp; ZVVIKS</a>&nbsp;2017</p>
        </div>
    </div>
  </body>
</html>
